<footer>
  <div class="container grid-3">
    <div>
      <a href="https://ibb.co/XyVZ7H6"><img src="https://i.ibb.co/XyVZ7H6/logodev.png" alt="logodev" border="0"></a>
      <p>Copyright &copy; devFDom 2022</p>
    </div>

    <!-- <div class="profiles">
      <a href="/"><em class="fab fa-twitter fa-2x"></em></a>
      <a href=""><em class="fab fa-instagram fa-2x"></em></a>
      <a href=""><em class="fab fa-facebook fa-2x"></em></a>
      <a href=""><em class="fab fa-whatsapp fa-2x"></em></a>
    </div> -->
  </div>
</footer>
