/* Add padding around the footer as well */

footer {
  font-family: sans-serif;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(208,80,95,1) 50%, rgba(177,4,4,1) 100%);
  padding: 20px 20px;
  text-align: center;
}
