/* You can add global styles to this file, and also import other style files */
/* Base */
*{
    padding: 0;
    margin: 0;

}
body{
  font-family: Open Sans;
}

@font-face {
  font-family: 'Pokemon';
  src: url('assets/fonts/Pokemon.ttf') format('truetype');
}

header {
  font-family: 'Pokemon', sans-serif;
}

